*{
  margin:0 ;
  padding:0
}
.app{
  background-color: white;
  max-width: 1500px;
  margin:0 auto;


}

.app__header{
  background-color: #FAFAFA;
  border-bottom: 2px solid black;
  object-fit: contain;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;



}
.app__posts{
  display:flex;
  background-color: purple;
}

.app__postsLeft{
  margin:2px solid blue
}


.app__postsRight{
  margin:2px solid green
}



.app__headerImage{
  object-fit: contain;
  width:95px;
  padding:20px;
}

.app__logIn{
  margin-right: 33px;
}
.app__inputs{
  display:flex;
  flex-direction: column;
  padding:33,
}